@model AviaoModel
@{
    ViewData["Title"] = "Cadastrar Aviao";
}


<div class='text-center'>
    <h1 class="display-4">Cadastrar Avião</h1>
</div>
 <form asp-controller="Aviao" asp-action="CadastrarAviao" method="post">
      <br />
      <div class="form-group">
        <label for='modelo'>Modelo</label>
        <input asp-for="modelo" type="text" class="form-control" placeholder="Digite o modelo do Avião" >
      </div>
      <br />
       <div class="form-group">
        <label for='qntdAssentos'>Quantidade de Assentos</label>
        <input asp-for="qntdAssentos" type="number" class="form-control"  placeholder="Digite a Quantidade de Assentos" >
      </div>
       <br />
      <div class="form-group">
        <label for='qntdEspeciais'>Quantidade de Assentos Especiais</label>
        <input asp-for="qntdEspeciais" type="number" class="form-control" placeholder="Digite a Quantidade de Assentos Especiais" >
      </div>
          <button type='submit' class='btn btn-primary' >Criar</button>
      <a class='btn btn-secondary' role='button' asp-controller='Aviao' asp-action='Index'>Voltar</a>
 </form>