@{
    ViewData["Title"] = "Pagina Inicial";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.scss">
    <script src="https://kit.fontawesome.com/e1165fc9fb.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <section id="primeiro">

        <div class="container-fluid">

            <nav class="navbar  navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="">GrandLine</a> <span><i class=" fa fa-duotone fa-earth-europe fa-4x"></i></span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="index.cshtml">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Contato</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <p class="subtitulo">Linhas Aereas</p>
        </div>

    </section>

    <section id="meio">

        <div>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h2>Trabalhamos com Oportunidades.</h2>

                    </div>

                    <div class="carousel-item active">
                        <h2>Realizamos Sonhos.</h2>

                    </div>

                    <div class="carousel-item active">
                        <h2>Venha voar conosco.</h2>

                    </div>

                </div>
            </div>

        </div>

    </section>

    <section id="fim">

        <div>

            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Cadastro de voo</h5>
                            <p class="card-text">Novos voos para GrandLine.</p>
                            <a class="btn btn-primary" asp-controller="Aviao" asp-action="CadastrarVoo">Confirmar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Cadastro de Avião</h5>
                            <p class="card-text">Mais tecnológicos e seguros.</p>
                            <a class="btn btn-primary" asp-controller="Aviao" asp-action="CadastrarAviao">Confirmar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Relatorio Voo</h5>
                            <p class="card-text">Um feedback de tudo que acontece na Grandline.</p>
                            <a class="btn btn-primary" asp-controller="Aviao" asp-action="RelatorioVoo">Confirmar</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ocupação do Voo</h5>
                            <p class="card-text">Blablabla.</p>
                            <a class="btn btn-primary">Confirmar</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section id="footer">

        <div class="redes">
            <span class="redesSociais"><i class="fa-brands fa-facebook fa-2x"></i></span>
            <span class="redesSociais"><i class="fa-brands fa-instagram fa-2x"></i></span>
            <span class="redesSociais"><i class="fa-brands fa-twitter fa-2x"></i></span>
        </div>
        <p>© GrandeLine</p>

    </section>

</body>
</html>
